<link rel="stylesheet" href="/assets/styles/home2.css" />

<!-- Navbar -->
<nav class="navbar">
  <a href="/" class="logo">ＪＯＧＪＡＬＡＮＤ</a>
  <ul class="nav-links">
    <li><a href="/" class="active">HOME</a></li>
    <li><a href="/explore">EXPLORE</a></li>
    <li><a href="/about">ABOUT US</a></li>
    <li><a href="/contact">CONTACT US</a></li>
  </ul>
  <button id="hamburger" class="hamburger">☰</button>
  <!-- Added ID here -->
</nav>

<main>
  <ul class='slider'>
    <li class='item' style="background-image: url('assets/images/img1.jpg')">
      <div class='content'>
        <h2 class='title' style="background-color: rgba(0, 0, 0, 0.3);">"lorem..."</h2>
        <p class='description' style="background-color: rgba(0, 0, 0, 0.3);"> Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
        praesentium nisi. Id laboriosam ipsam enim.  </p>
      </div>
    </li>

    <li class='item' style="background-image: url('assets/images/img2.jpg')">
      <div class='content'>
        <h2 class='title' style="background-color: rgba(0, 0, 0, 0.3);">"lorem..."</h2>
        <p class='description' style="background-color: rgba(0, 0, 0, 0.3);"> Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
        praesentium nisi. Id laboriosam ipsam enim.  </p>
      </div>
    </li>

    <li class='item' style="background-image: url('assets/images/img3.jpg')">
      <div class='content'>
        <h2 class='title' style="background-color: rgba(0, 0, 0, 0.3);">"lorem..."</h2>
        <p class='description' style="background-color: rgba(0, 0, 0, 0.3);"> Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
        praesentium nisi. Id laboriosam ipsam enim.  </p>
      </div>
    </li>

    <li class='item' style="background-image: url('assets/images/img4.jpg')">
      <div class='content'>
        <h2 class='title' style="background-color: rgba(0, 0, 0, 0.3);">"lorem..."</h2>
        <p class='description' style="background-color: rgba(0, 0, 0, 0.3);">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore fuga voluptatum, iure corporis inventore praesentium nisi. Id laboriosam ipsam enim.
        </p>
      </div>
    </li>

    <li class='item' style="background-image: url('assets/images/img5.jpg')">
      <div class='content'>
        <h2 class='title' style="background-color: rgba(0, 0, 0, 0.3);">"lorem..."</h2>
        <p class='description' style="background-color: rgba(0, 0, 0, 0.3);">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore fuga voluptatum, iure corporis inventore praesentium nisi. Id laboriosam ipsam enim.
        </p>
      </div>
    </li>

    <li class='item' style="background-image: url('assets/images/img6.jpg')">
      <div class='content'>
        <h2 class='title' style="background-color: rgba(0, 0, 0, 0.3);">"lorem..."</h2>
        <p class='description' style="background-color: rgba(0, 0, 0, 0.3);"> Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
        praesentium nisi. Id laboriosam ipsam enim.  </p>
      </div>
    </li>
  </ul>

  <nav class='nav'>
    <ion-icon class='btn prev' name="arrow-back-outline"></ion-icon>
    <ion-icon class='btn next' name="arrow-forward-outline"></ion-icon>
  </nav>
  
</main>

<script src="assets/scripts/home2.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
